<div class="job-detail">
    <div class="title">
        Job #{{job.id}}
        <button class="btn-more" {{action "goToJob" job}}>More</button>
    </div>
    <div class="console">
        <pre>{{json-pretty data=job}}</pre>
    </div>
    {{#if job.error}}
    <div class="error">
        <div class="title">Error</div>
        <div class="error-output">
            {{format-error job.error}}
        </div>
    </div>
    {{/if}}
</div>

